.footer {
  width: 1280px;
  height: 140px;
  padding: 40px 80px;
  background: rgba(0,0,255,1);
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  &__box {
    margin-left: 100px;
    color: white;
    .ruby_version {
      font-size: 20px;
    }
    .rails_version {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  .project-name {
    margin-top: 140px;
    color: white;
    font-size: 14px;
  }
}