.header {
  width: 1440px;
  height: 100px;
  background: rgba(0,0,255,1);
  opacity: 0.9;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  &__date {
    color: white;
    height: 80px;
    width: 160px;
    margin: 10px;
    line-height: 80px;
    text-align: center;
    font-size: 28px;
  }
  &__title {
    height: 100px;
    width: 320px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: 90px;
    text-align: center;
  }
  &__title:hover {
    background: $hover-color;
  }
  &__title:active {
    background: $active-color;
  }

  &__add-book {
    height: 100px;
    width: 100px;
    margin: 0px 40px;
    color: white;
    font-size: 24px;
    line-height: 100px;
    text-align: center;
  }
  &__add-book:hover {
    background: $hover-color;
  }
  &__add-book:active {
    background: $active-color;
  }
}