.footer
  .footer__box
    .ruby_version
      Ruby 2.5.1
    .rails_version
      Rails 6.0.3.2
    .use-gem1
      gem kaminari
    .use-gem2
      gem chartkick
    .use-gem3
      gem groupdate
  .project-name
    Ailis_project.
